* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #251351;
}

/* General Styles */
.container {
  width: 90%;
  margin: 30px auto;
}

/* Card Styles */
.card {
  width: 100%;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 10px;
}
.card-content {
  padding: 10px 20px;
}
.card-content span {
  display: block;
}
.card-content span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: bold;
}
.card-content span:nth-child(2) {
  margin-top: 5px;
  font-weight: bold;
}
.card-content span:last-child {
  margin-top: 5px;
}
.card img[alt="The Lorem Ipsum for photos"] {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
